<form method='post' action="/user/login">
<label><h3>Login:</h3></label>
<div class="card">
    <div class="card-body">
        
        
       <br>
            <label for='email'>Digite seu email </label>
            <input type="email" name="email" value="teste@teste" class="form-control" required>
            <br>
            <label for='senha'>Digite sua Senha: </label>
       <input type="password" name="senha" value="123456" class="form-control" required>
          
        
      
         <button type="subimit" class="btn btn-success mt-4">Entrar</button>
    </div>
</div>
</form>